<!doctype html>
<html lang="ko">
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename=icon) }}">
                <title>SQR</title>
        </head>
	<center>
	<frameset rows = "50%, 50%", border=0 frameborder=no framespacing=0>
		<frame src="{{ html_sqr_logo }}" scrolling="no">
		<frame src="{{ html_article }}" scrolling="auto">
	</center>
	</frameset>

</html>

